<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-lazy-init="false" default-autowire="byName">

	<!-- 自定义的Job -->
	<bean id="custService" class="com.boxin.quartz.core.CustService" />
	<bean id="myBusiJob" class="com.boxin.quartz.core.MyBusiJob">
		<property name="custService" ref="custService" />
	</bean>

	<!-- 引导Job -->
	<bean id="bootstrapJob" class="com.boxin.quartz.support.BootstrapJob">
		<property name="targetJob" value="myBusiJob" />
	</bean>

	<bean id="defaultJobDetail" class="com.boxin.quartz.support.MethodInvokingJobDetailFactoryBean">
		<property name="concurrent" value="true" />
		<property name="targetObject" ref="bootstrapJob" />
	</bean>
	
	<bean id="cronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="defaultJobDetail" />
		<property name="cronExpression" value="0/3 * * * * ? *" />
	</bean>

	<!-- Currency 抓取 -->
	<bean id="CurrencyRateSpider" class="com.boxin.base.task.currency.CurrencyRateSpider"></bean>
	<!-- 作业包装器 -->
	<bean id="currencySpiderJobDetail"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="CurrencyRateSpider" />
		<property name="targetMethod" value="collectCurrencyRate" />
	</bean>
	<bean id="currencySpiderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="currencySpiderJobDetail" />
		<!-- 触发器,每天指定的小时整点触发.以英文逗号分隔 -->
		<property name="cronExpression" value="0 0 9,16,18 * * ? *" />
	</bean>
	
	<!-- 配置quartz工厂类 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:quartz.properties" />
		<property name="triggers">
			<list>
				<ref bean="cronTriggerBean" />
				<ref bean="currencySpiderTrigger" />
			</list>
		</property>
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
	</bean>

</beans>
